/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 90px;
    margin: 0 auto;
    display: block;
    height: auto;
    align-items: center;
    position: relative;
    top: 1px; /* Mueve el logo hacia abajo */
    left: 20px; /* Mueve el logo hacia la derecha */
}
/* Estilos para dispositivos de mayor tamaño (como tablet o escritorio) */
@media screen and (min-width: 769px) {
    #menu-toggle {
        display: none;
    }

    #main-nav {
        display: flex;
        align-items: center; /* Centra verticalmente los elementos */
    }

    #main-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex; /* Muestra las solapas en fila */
    }

    #main-nav ul li {
        margin-right: 20px;
        position: relative; /* Agrega posición relativa a los elementos li */
    }

    #main-nav ul li:last-child {
        margin-right: 0; /* Elimina el margen derecho del último elemento */
    }

    #main-nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
    }

    #main-nav ul li a:hover {
        color: #5dd4d8;
    }

    /* Oculta inicialmente las sub-solapas */
    .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    /* Muestra las sub-solapas una debajo de la otra cuando se hace hover en la solapa principal */
    #main-nav ul li:hover .submenu {
        display: block;
    }

    /* Ajusta el estilo para mostrar las sub-solapas en columna */
    #main-nav ul li:hover .submenu li {
        display: block;
        margin-right: 0;
    }

    /* Oculta las sub-solapas cuando no se hace hover en la solapa principal */
    #main-nav ul li:not(:hover) .submenu {
        display: none;
    }
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    #main-nav {
        display: none;
    }

    #menu-toggle {
        display: block;
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    #menu-toggle.active + #main-nav {
        display: block;
    }

    /* Estilos para el menú desplegable */
    #main-nav ul {
        background-color: #333;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #main-nav ul li {
        padding: 10px;
    }

    #main-nav ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
    }

    /* Estilo para el icono de menú activo */
    #menu-toggle.active {
        background-color: #5dd4d8;
    }
    /* Estilos del menú desplegable */
.dropdown {
    position: relative;
    
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.dropdown:hover .submenu {
    display: block;
}
}

/* Estilos para el margen de color celeste oscuro */
.margen-celeste {
    background: linear-gradient(45deg, #0077b6,#fff ,#00d8bb, #00d8bb, #00d8bb);
    font-weight: bold; /* Texto en negrita */
    padding: 5px; /* Aumenta el tamaño del margen */
    text-align: center;
    position: relative;
    top: -20px;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Estilos de la sección de imagen de la escuela */
.imagen-escuela {
    text-align: center;
    padding: 57.6px;
}

.imagen-escuela {
    text-align: center;
    padding: 10; /* Elimina el espacio interior */
    height: 77.4vh; /* Establece la altura de la sección al 100% de la altura de la ventana */
    background-image: url('/media/escuela.jpeg'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para que cubra toda la sección */
    background-position: center; /* Centra la imagen horizontal y verticalmente */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

.imagen-escuela h1 {
    font-size: 36px;
    color: #000000; 
    text-shadow: 2px 2px 4px rgba(3, 168, 209, 0.5); /* Sombra de texto */
    margin-top: 20px;
}
.imagen-escuela h2 {
    font-size: 24px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(3, 168, 209, 0.5);
    margin-top: 230px; /* Ajusta el margen superior del subtítulo según tus preferencias */
}

/* Estilos para el carrusel */
.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Agrega margen en la parte superior */
    margin-bottom: 20px; /* Agrega margen en la parte inferior */
    position: relative;
}

.carrusel-contenido {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    align-items: center;
    justify-content: center; /* Centra horizontalmente el contenido */
}

.carrusel-item {
    display: none;
    flex: 1;
    padding: 10px;
    text-align: center; /* Alinea el texto y la imagen al centro */
}

.carrusel-item.active {
    display: flex;
    flex-direction: column; /* Coloca el texto debajo de la imagen */
    align-items: center;
    justify-content: center; /* Centra vertical y horizontalmente el contenido */
}

.carrusel-item img {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    display: block; /* Centra horizontalmente la imagen */
}

/* Estilos para las flechas */
.flecha {
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #2a819b;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; /* Asegura que las flechas estén por encima del contenido */
}

#btnAnterior {
    left: 10px;
}

#btnSiguiente {
    right: 10px;
}

.carrusel-item p {
    margin: 0;
    padding-left: 20px;
}

.anterior {
    transform: rotate(180deg);
}

.siguiente {
    transform: rotate(360deg);
}

/* Estilos para el título "Noticias" */
.noticias h2{
    background: linear-gradient(45deg, #0077b6,#fff ,#00d8bb, #00d8bb, #00d8bb);
    font-weight: bold; /* Texto en negrita */
    padding: 20px; /* Aumenta el tamaño del margen */
    text-align: center;
    position: relative;
    top: -20px;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Estilos para el carrusel */
.carrusel_noticia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Agrega margen en la parte superior */
    margin-bottom: 20px; /* Agrega margen en la parte inferior */
    position: relative;
}


.carrusel-contenido_noticia {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    align-items: center;
    justify-content: center; /* Centra horizontalmente el contenido */
}

.carru_item {
    display: none;
    flex: 1;
    padding: 10px;
    text-align: center; /* Alinea el texto y la imagen al centro */
}

.carru_item.active {
    display: flex;
    flex-direction: column; /* Coloca el texto debajo de la imagen */
    align-items: center;
    justify-content: center; /* Centra vertical y horizontalmente el contenido */
}
/* Estilos para las flechas */
.flecha {
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #2a819b;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; /* Asegura que las flechas estén por encima del contenido */
}

#botonAnterior {
    left: 10px;
}

#botonSiguiente {
    right: 10px;
}

.carru-item p {
    margin: 0;
    padding-left: 20px;
}

.anterior {
    transform: rotate(180deg);
}

.siguiente {
    transform: rotate(360deg);
}

/* Estilos para la segunda barra de navegación */
.barra-escuela {
    background-color: #333;
    color: #ffffff;
    padding: 10px 0;
}

.barra-escuela ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.barra-escuela li {
    margin: 0 20px; /* Espacio entre los elementos de la barra de navegación */
}

.barra-escuela a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.barra-escuela a:hover {
    color: #ff0000; /* Color de enlace al pasar el mouse */
}

