/* Estilos generales */
body {
    margin: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #b1b1b1;
  }

/* Estilos de la sección de imagen de la escuela */
.imagen-escuela {
    text-align: center;
    padding: 57.6px;
}
.imagen-escuela {
    text-align: center;
    padding: 10; /* Elimina el espacio interior */
    height: 77.4vh; /* Establece la altura de la sección al 100% de la altura de la ventana */
    background-image: url('/client/media/escuela.jpeg'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para que cubra toda la sección */
    background-position: center; /* Centra la imagen horizontal y verticalmente */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
}
.imagen-escuela h1 {
    font-size: 36px;
    color: #000000; 
    text-shadow: 2px 2px 4px #00e1ff; /* Sombra de texto */
    margin-top: 20px;
}
.imagen-escuela h2 {
    font-size: 24px;
    color: #000000;
    text-shadow: 2px 2px 4px #00e1ff;
    margin-top: 230px; /* Ajusta el margen superior del subtítulo según tus preferencias */
}

/* Estilos del encabezado */
header {
    background-color: #333;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
    margin: 0 auto;
    display: block;
    height: auto;
    align-items: center;
    position: relative;
    top: 1px; /* Mueve el logo hacia abajo */
    left: 20px; /* Mueve el logo hacia la derecha */
}

/* Estilos para dispositivos de mayor tamaño (como tablet o escritorio) */
@media screen and (min-width: 769px) {
    #menu-toggle {
        display: none;
    }

    #main-nav {
        display: flex;
        align-items: center; /* Centra verticalmente los elementos */
    }

    #main-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex; /* Muestra las solapas en fila */
    }

    #main-nav ul li {
        margin-right: 20px;
        position: relative; /* Agrega posición relativa a los elementos li */
    }

    #main-nav ul li:last-child {
        margin-right: 0; /* Elimina el margen derecho del último elemento */
    }

    #main-nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
    }

    #main-nav ul li a:hover {
        color: #00e1ff;
    }

    /* Oculta inicialmente las sub-solapas */
    .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        padding: 10%;
        box-shadow: 2px 7px 10px #00e1ff;
             
    }

    /* Muestra las sub-solapas una debajo de la otra cuando se hace hover en la solapa principal */
    #main-nav ul li:hover .submenu {
        display: block;
        padding-top: 3%;
    }

    /* Ajusta el estilo para mostrar las sub-solapas en columna */
    #main-nav ul li:hover .submenu li {
        display: block;
        margin-right: 0;
        margin-top: 2px;
    }

    /* Oculta las sub-solapas cuando no se hace hover en la solapa principal */
    #main-nav ul li:not(:hover) .submenu {
        display: none;
    }
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    #main-nav {
        display: none;
    }
    #menu-toggle {
        display: block;
        background-color: #474747;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        z-index: 1;
    }
    #menu-toggle.active + #main-nav {
        display: block;
    }
    /* Estilos para el menú desplegable */
    #main-nav ul {
        background-color: #333;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 1;
    }
    #main-nav ul li {
        padding: 10px;
    }
    #main-nav ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
    }
    /* Estilo para el icono de menú activo */
    #menu-toggle.active {
        background-color: #474747;
        box-shadow: 0 4px 6px #00e1ff;
    }
    /* Estilos del menú desplegable */
.dropdown {
    position: relative;
    
}
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 4px 6px #00e1ff;
    
}
.dropdown:hover .submenu {
    display: block;
}
}


/* Estilos para el margen de color celeste oscuro */
.margen-celeste {
    background: linear-gradient(45deg, #005888, #0275e0,#b1b1b1, #b1b1b1, #00e1ff ,#00e1ff, #00e1ff, #00e1ff, #00e1ff);
    font-weight: bold; /* Texto en negrita */
    padding: 2px; /* Aumenta el tamaño del margen */
    text-align: center;
    position: relative;
    top: -20px;
    left: 0;
    right: 0;
    z-index: 1;
}


/* Estilos para el carrusel */
.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Agrega margen en la parte superior */
    margin-bottom: 20px; /* Agrega margen en la parte inferior */
    position: relative;
}
.carrusel-contenido {
    display: flex;
    flex-direction: row-reverse;
    flex: 10px;
    align-items: left;
    justify-content: center; /* Centra horizontalmente el contenido */
}
.carrusel-item {
    display: none;
    flex: 1;
    padding: 10px;
    text-align: center; /* Alinea el texto y la imagen al centro */
}
.carrusel-item.active {
    display: flex;
    flex-direction:column; /* Coloca el texto debajo de la imagen */
    align-items: center;
    justify-content: center; /* Centra vertical y horizontalmente el contenido */
}
.carrusel-item img {
    width: 600px;
    height: 370px;
    margin: auto;
    display: block; /* Centra horizontalmente la imagen */
}

/* Estilos para las flechas */
.flecha {
    font-size: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #0051ff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#btnAnterior {
    left: 20px;
}
#btnSiguiente {
    right: 30px;
}
.carrusel-item p {
    margin: 10px;
    padding-left: center;
}
.anterior {
    transform: rotate(180deg);
}
.siguiente {
    transform: rotate(360deg);
}

/* Estilos para el título "Noticias" */
.noticias h2{
    background: linear-gradient(45deg, #005888, #0275e0,#b1b1b1, #b1b1b1, #00e1ff, #00e1ff, #00e1ff, #00e1ff, #00e1ff);
    font-weight: bold; /* Texto en negrita */
    padding: 20px; /* Aumenta el tamaño del margen */
    text-align: center;
    position: relative;

}

/* Estilos para el elemento con la clase "ventajas" */
.ventajas {
    width: calc(33.33% - 20px); /* Ancho para cada elemento, ajustado a un tercio del contenedor */
    float: left; /* Colocar elementos uno al lado del otro */
    margin: 10px; /* Espaciado entre los elementos */
    background-color: #040404c2;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: transform 0.3s ease; /* Transición al pasar el mouse */
    border-radius: 10px; /* Bordes redondeados */
    left: auto;
}

/* Al pasar el mouse sobre los elementos ".ventajas", se escalarán ligeramente */
.ventajas:hover {
    transform: scale(1.05);
}

/* Resto de estilos se mantienen igual */
.ventajas .contenidos p {
    line-height: 1.5;
    text-align: center;

    color: #9e9e9e;
    margin-left: 30px;
}

.ventajas .contenidos h3 {
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    padding-left: 30px;
    padding-left: 10px; /* Reducción del padding izquierdo */
    margin-bottom: 10px; /* Espacio inferior entre el título y el párrafo */
}

.ventajas img {
    margin: 20px auto; /* Espaciado vertical reducido y centrado horizontalmente */
}

.container {
    background: #00e1ff;
    overflow: hidden; /* Limpiar el float de los elementos internos */
}
/* Estilos para el elemento con la clase "ventajas" */
.ventajas {
    /* ... (otros estilos) ... */
    display: flex; /* Usar flexbox para centrar los elementos verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    position: relative; /* Posición relativa para el posicionamiento absoluto */
}
.fondo {
    background-color: #b1b1b1; /* Color de fondo deseado */

    width: 100%; /* Ancho del contenedor */
    height: 100%; /* Altura del contenedor */
}




/* Whatsapp */
element.style {
    margin-bottom: 50px;
}
.btn-floating.fixed-bottom {
    position: fixed;    
    top: auto;
    bottom: 20px;
    right: 20px;
}
.btn-whatsapp {
    z-index: 999;
    color: #fff;
    background-color: #4dc247;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
    border-radius: 50%;
    border: 1;
}
.btn-floating {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 5px;
    background-color: #000;
    border: 1px solid rgba(255,255,255,.8);
    font-size: 18px;
    z-index: 100;
}
.visible-when-content-ready {
    visibility: visible!important;
}
a {
    color: #fff;
    font-family: montserrat,Sans-serif;
}
.btn-whatsapp svg {
    width: 30px;
    height: 30px;
    padding: 5px 2px;
    fill: #fff;
    vertical-align: middle;
}
.btn-whatsapp {
    z-index: 999;
    color: #fff;
    background-color: #4dc247;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
    border-radius: 50%;
    border: 0;
}

/*Pie de pagina*/
.pie-pagina{
    width: 100%;
    background-color: rgb(20, 20, 20);  
    
}
/*Separando en columnas y ajustando los contenedores del grupo 1*/
.pie-pagina .grupo-1{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
    padding: 30px;
    color: #fff;
    height: 180px;
}
/*Logotipo PIE DE PAGINA*/
.pie-pagina .grupo-1  figure img {
    width: 80%; /* Ajusta el ancho al 100% del contenedor (figure) */
    margin-left: 0; 
    height: auto; /* Mantiene la proporción original de la imagen ajustando automáticamente la altura */
}
/*Logotipo PIE DE PAGINA*/
.pie-pagina .grupo-1  figure{
    margin-left: 1px;
}
/*Dando color-proporcion-alineacion a los elementos del grupo 1 de todos los box*/
.pie-pagina .grupo1 .box{
    color: #fff;    
    width: 80%;
    text-align: center;
}

/* Ajusta el interlineado de la descripción del contacto */
.contacto p {
    line-height: 200;
    color: #717171;
}

/* Nuevo estilo para el div de contacto */
.pie-pagina .grupo-1 .box .contacto {
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px; /* Agrega margen inferior */
}

/* Estilo para el título de contacto */
.contacto h2 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1px;
}

/* Estilo para el contenedor de redes y contacto */
.pie-pagina .grupo-1 .redes-contacto {
    display: flex;
    flex-direction: column; /* Apila los elementos en columna */
    align-items: flex-end; /* Alinea los elementos a la derecha */
    height: 5px;
    line-height: 30px;       
    transition: all 300ms ease;
    }
    
    /*Animacion del cursor sobre los logos*/
    .pie-pagina .grupo-1 .redes a:hover{
        color: #00e1ff;
    }
    /*Logos de las redes*/
    .pie-pagina .grupo-1 .redes{
        position: center;
        font-size: 25px;
    }

    /*Titulo sobre-nosotros pipe de pagina*/
    .pie-pagina .grupo-1 .box .sobre-nosotros{
        width: 350px;
        text-align: left;
        font-size: 14px;
    }
    /*Ajustando el interlineado de la descripcion del pie de pagina*/
    .sobre-nosotros p {
        line-height: 2; 
        color: #717171;

    }
    /*Parte del final del footer*/
    .pie-pagina .grupo-2{
        background-color: rgb(20, 20, 20);
        padding: 15px 10px;
        text-align: center;
        color: #fff;
        border-top: 1px solid rgb(27, 27, 33);
        font-size: 12px;
    }
    /*Estilo para enlaces dentro de la clase "explora" dentro de la clase "pie-pagina" */
    .pie-pagina .explora a:hover{
        color: #fff;
    }

    /* MAPA*/
    .map-canvas {
        width: 100%;
        height: 800%; /* Ajusta el mapa al 80% de la altura de la ventana */
        border-style: 0;
    }
    